# General
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Project Level
.idea
.git
__pycache__
__init__.py
/CryptoBERT/
/env/

/crbtenv/
/CryptoBERT/
/models
/.venv/
